@import "../_variables"

.pelmeni
    min-height: 100px
    background-color: $second-color
    display: flex
    padding: 50px 200px 50px 200px
    &_text
        width: 40%
        p
            &:nth-child(1)
                font-family: comfortaa, sans-serif
                font-size: 38px
                font-weight: light
            &:nth-child(2)
                font-family: comfortaa, sans-serif
                font-size: 16px
                font-weight: light
                line-height: 24px
                margin-top: 30px
    &_img
        width: 50%
        display: flex
        align-items: center
        img
            width: 100%

.Lepka
    background-color: $main-color

.pelmeniHistory
    margin-right: 10%
    margin-left: 100px

.pelmeniLepka
    margin-left: 10%
    margin-right: 100px

.pelmeniLepkaImg
    img
        width: 90%

@media(max-width: 600px)
    .pelmeni
        min-height: 100px
        display: block
        padding: 0
        &_text
            width: 80%
            p
                &:nth-child(1)
                    font-size: 22px
                    padding-top: 30px
                &:nth-child(2)
                    font-size: 12px
        &_img
            width: 70%
            margin-left: 15%
            padding-bottom: 30px


    .pelmeniLepkaImg
        display: none

    .pelmeniHistory
        margin-right: 10%
        margin-left: 10%
        padding-bottom: 30px

    .pelmeniLepka
        margin-left: 10%
        margin-right: 10%
        padding-bottom: 30px
